<app-navbar></app-navbar>
<div class="flex justify-evenly items-center w-full h-full px-4 bg-[#ebebeb]">
  <div class="h-1/2 min-w-96">
    <div class="flex justify-center items-center text-xl font-bold">
      Audit List
    </div>
    <div class="overflow-y-auto h-full min-w-[500px]">
      <ul class="mat-list w-full">
        <li *ngFor="let audit of audits">
          <button
            class="min-w-full px-4 py-2 bg-gray-400 border rounded-md text-base font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            color="primary"
            type="button"
            (click)="onSelect(audit)"
            [class.bg-green-500]="audit.finalVerdict === 'Passed'"
            [class.bg-red-500]="audit.finalVerdict === 'Failed'"
            [class.bg-yellow-500]="audit.finalVerdict === 'Pending'"
          >
            <div class="grid grid-cols-2 sm:grid-cols-4 min-w-full">
              <span class="text-lg font-medium flex mr-2">Dealership:</span>
              <span class="text-lg col-span-3">{{ audit.name }}</span>
              <span class="text-lg font-medium flex mr-2">Verdict:</span>
              <span class="text-base col-span-3">{{ audit.finalVerdict }}</span>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="selectedAudit" class="w-1/2 h-2/3 shadow-lg">
    <mat-card class="h-full">
      <mat-card-header>
        <h2 class="flex justify-center items-center w-full">
          {{ selectedAudit.name | uppercase }} Details
        </h2>
      </mat-card-header>
      <mat-card-content>
        <div>id: {{ selectedAudit.id }}</div>
        <div
          *ngIf="selectedAudit.imageUrl && selectedAudit.imageUrl.length > 0"
        >
          <h4>Images</h4>
          <div
            class="flex flex-wrap justify-content align-items overflow-y-auto max-h-80"
          >
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 w-full">
              <img
                *ngFor="let imageUrls of selectedAudit.imageUrl"
                src="{{ imageUrls }}"
                alt="Image for {{ selectedAudit.name }}"
                class="object-cover h-full"
              />
            </div>
          </div>
        </div>
        <div>
          <label for="audit-name">Audit name: {{ selectedAudit.name }} </label>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
