<div class="min-h-screen bg-[#f2f2f2]">
  <app-navbar></app-navbar>
  <div class="flex items-center p-4">
    <div class="w-full">
      <!--Audit Submission Guidelines-->
      <mat-card class="p-4 mb-4 sm:h-40">
        <markdown [data]="guidelines"></markdown>
      </mat-card>
      <!--Audit Submission-->
      <mat-card class="p-4 pb-20 sm:h-[365px]">
        <!--Previews-->
        <div class="overflow-hidden sm:overflow-y-auto h-auto">
          <div class="flex flex-wrap justify-center">
            <div
              *ngFor="let preview of previews; let i = index"
              class="relative p-2 w-full sm:w-1/5"
            >
              <img
                [src]="preview"
                (error)="displayImageUrl($event, i)"
                alt="Preview of Submitted Image"
                (click)="openModal(preview)"
                class="w-full h-auto object-contain"
                class="cursor-pointer"
              />
              <button
                class="absolute top-2 right-2 text-red-500 hover:text-red-700"
                (click)="deleteImage(i)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0 w-full p-4">
          <div class="flex justify-between">
            <!--Browse button and file explorer-->
            <div>
              <label for="images">Choose images to upload (PNG or JPG)</label>
              <input
                type="file"
                id="images"
                accept=".jpg, .jpeg, .png"
                multiple=""
                (change)="selectImages($event)"
              />
            </div>
            <!--Submit button-->
            <button
              mat-raised-button
              color="primary"
              routerLink="/status"
              [disabled]="!previews.length"
              (click)="submitAudit()"
            >
              Submit
            </button>
          </div>
          <!-- Error message -->
          <div class="flex absolute bottom-0 left-0 w-full px-4 pb-2">
            <div class="flex justify-between">
              <span *ngIf="message" class="text-red-500">{{ message }}</span>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- Modal for Enlarged Image -->
  <ng-container *ngIf="modalImageUrl">
    <app-image-modal
      [imageUrl]="modalImageUrl"
      (close)="closeModal()"
    ></app-image-modal>
  </ng-container>
</div>
