<div>
  <form [formGroup]="loginForm" (submit)="submitForm()">
    <div class="bg-gray-300 h-screen flex items-center justify-center">
      <div class="h-1/2 w-3/5 bg-white">
        <div class="text-center h-max text-4xl">
          <mat-card>
            <mat-card-content>Login</mat-card-content>
            <div class="flex items-center justify-center">
              <div class="bg-yellow-300 w-2/3 my-3">
                <mat-form-field [style.width.px]="327" appearance="outline">
                  <input
                    matInput
                    placeholder="example@email.com"
                    [formControl]="email"
                    required
                    id="emailField"
                    formControlName="email"
                  />
                  @if (email.invalid) {
                  <mat-error>{{ getErrorMessage() }}</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="flex items-center justify-center">
              <div class="bg-yellow-300 w-2/3 my-3">
                <mat-form-field [style.width.px]="327" appearance="outline">
                  <input
                    matInput
                    placeholder="password"
                    required
                    id="passwordField"
                    formControlName="password"
                    [type]="hide ? 'password' : 'text'"
                  />
                  <button
                    mat-icon-button
                    matSuffix
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                  >
                    <mat-icon>{{
                      hide ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button type="submit" class="primary" mat-raised-button>Submit</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>
