<div>
  <form>
    <div class="bg-gray-300 h-screen flex items-center justify-center">
      <div class="h-1/2 w-3/5 bg-white">
        <div class="text-center h-max text-4xl">
          <mat-card>
            <mat-card-content>Login</mat-card-content>
            <app-emailfield></app-emailfield>
            <app-passwordfield></app-passwordfield>
            <div>
              <button type="submit" mat-raised-button>Submit</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </form>
</div>
