<div class="flex justify-center items-center w-full h-full">
  <div class="w-[500px] mr-2">
    <img
      class="mb-2"
      src="/assets/UrbanScienceHomepage.png"
      alt="Urban Science Logo"
    />
    <p class="text-5xl">Dealership Compliance Auditor</p>
  </div>
  <div class="ml-2 shadow-lg">
    <form [formGroup]="loginForm">
      <div>
        <mat-card class="w-[500px]">
          <mat-card-header class="text-3xl flex justify-center mb-3 -mt-3">
            <mat-card-header>Login</mat-card-header>
          </mat-card-header>
          <mat-card-content>
            <label for="email">Email</label>
            <div class="email-container mb-2">
              <mat-form-field hideRequiredMarker class="w-full">
                <mat-label>Enter your email</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="email"
                  name="email"
                  placeholder="example@email.com"
                />
                @if (email.invalid && email.dirty || email.touched) {
                <mat-error>{{ getEmailErrorMessage() }}</mat-error>
                }
              </mat-form-field>
            </div>
            <label for="password">Password</label>
            <div class="password-container mb-32">
              <mat-form-field hideRequiredMarker class="w-full">
                <mat-label>Enter your password</mat-label>
                <input
                  [type]="hide ? 'password' : 'text'"
                  matInput
                  formControlName="password"
                  name="password"
                  placeholder="Type your password"
                />
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon class="mr-4">{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
                @if (password.invalid && password.dirty || password.touched) {
                <mat-error>{{ getPassErrorMessage() }}</mat-error>
                }
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button
              label="Sign in"
              mat-flat-button
              class="w-full"
              color="primary"
              [disabled]="loginForm.invalid"
            >
              Sign in
            </button>
          </mat-card-actions>
          <mat-card-actions>
            <div>
              Not a member? Click
              <a
                class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
                routerLink="/register"
                >here</a
              >
              to register!
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </form>
  </div>
</div>
