<div class="h-screen">
  <div class="right-0">
        <button
        mat-raised-button
        color="primary"
        routerLink="/loginForm"
      >
        Logout
      </button>
      </div>
  <div
    class="rounded-lg border shadow-lg p-10">
    <div>
      <div class="flex justify-center"></div>
      <div>
        <h1 class="text-xl mb-2">
          No audits currently awaiting verdict from auditer.
        </h1>
      </div>
      <div class="flex justify-center items-center">
        <button mat-raised-button color="primary" routerLink="/image-upload">
          Start an Audit
        </button>
      </div>
    </div>
  </div>
</div>
