<div>
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dealership Compliance Auditor</span>
    <span class="flex-auto"></span>
    <div class="me-2">
      <a routerLink="/login"><button mat-flat-button class="loginButton" aria-label="login button">
        Login
      </button></a>
    </div>
    <div class="">
        <a routerLink="/register"><button mat-flat-button class="registerButton" aria-label="register button">
        Register
      </button></a>
    </div>
  </mat-toolbar>
</div>
