<header>
  <mat-toolbar class="flex justify-between items-center">
    <div>
      <a routerLink="/login">
        <img
          class="w-64"
          src="/assets/UrbanScience Original.png"
          alt="Urban Science Logo"
        />
      </a>
    </div>
    <div class="">
      <ul class="flex items-center gap-[3vw] mr-52">
        <li>
          <a class="hover:text-gray-400" routerLink="/status">Audit Status</a>
        </li>
        <li>
          <a class="hover:text-gray-400" routerLink="/make-an-audit"
            >Audit Upload</a
          >
        </li>
      </ul>
    </div>
    <div>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="menu button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a routerLink="/profile-page">
          <button mat-menu-item>
            <mat-icon>person_pin</mat-icon>
            <span>Profile</span>
          </button>
        </a>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>
</header>
