<div class="min-h-screen bg-[#f2f2f2]">
  <app-auditor-navbar></app-auditor-navbar>
  <div class="flex p-4">
    <!-- Sidebar -->
    <div class="w-1/8 bg-gray-200 h-full overflow-y-auto flex">
      <mat-nav-list class="mr-4">
        <mat-list-item *ngFor="let criterion of criteria">
          <a matLine [routerLink]="['/edit-audit-submission-guidelines']" [fragment]="'criterion-' + criterion.criteriaID.toString()">{{ criterion.name }}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <!-- Main Content -->
    <div class="w-full items-center">
      <div class="border border-black p-4">
        <!-- Criteria Cards -->
        <ng-container *ngFor="let criterion of criteria">
          <div id="criterion-{{ criterion.criteriaID }}" class="anchor"></div>
          <mat-card class="p-4 mb-4">
              <!-- Preview Mode -->
              <div *ngIf="!criterion.editMode">
                <div class="flex justify-end">
                  <button mat-icon-button (click)="deleteCriterion(criterion)" class="cursor-pointer" matTooltip="Delete">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-icon-button (click)="editCriterion(criterion)" class="cursor-pointer" matTooltip="Edit">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>
                <div class="flex items-center mb-4 justify-between">
                  <h3 class="text-lg font-semibold">{{ criterion.name }}</h3>
                  <div class="flex items-center">
                    <h3 class="text-lg font-semibold">Evidence Reference Image</h3>
                    <mat-icon class="cursor-pointer" matTooltip="This image will be used as a reference of the evidence for the dealership submitting an audit and the AI reviewing that audit.">help_outline</mat-icon>
                  </div>
                </div>
                <div class="flex items-center justify-between">
                  <markdown [data]="criterion.guidelines"></markdown>
                  <img *ngIf="criterion.filename" [src]="'http://localhost:3000/posters/' + criterion.filename" alt="Criterion Image" class="w-32 h-auto object-contain mr-2 cursor-pointer" (click)="openModal('http://localhost:3000/posters/' + criterion.filename)">
                </div>
              </div>
            <div *ngIf="criterion.editMode">
              <!-- Edit Mode -->
              <div class="flex items-center mb-4 justify-between">
                <input type="text" class="w-full border rounded p-2 mr-2" [(ngModel)]="criterion.name" placeholder="Criteria Title" />
                <div>
                  <h3 class="text-lg font-semibold">Evidence Reference Image</h3>
                  <mat-icon class="cursor-pointer" matTooltip="This image will be used as a reference of the evidence for the dealership submitting an audit and the AI reviewing that audit.">help_outline</mat-icon>
                </div>
              </div>
              <div class="flex items-center justify-between">
                <textarea class="flex-grow border rounded p-2 mr-2" [(ngModel)]="criterion.guidelines" placeholder="Enter guidelines for criteria submission here. This will be displayed for the dealership submitting an audit."></textarea>
                <input type="file" (change)="onFileSelected($event, criterion)" accept=".jpg, .jpeg, .png" [id]="'fileInput-' + criterion.criteriaID" style="display: none;" multiple>
                <div *ngIf="criterion.filename || selectedFiles[criterion.criteriaID]?.length">
                  <img *ngFor="let selectedFileUrl of selectedFileUrls[criterion.criteriaID]" [src]="selectedFileUrl" alt="Selected Image" class="w-32 h-auto object-contain mr-2 cursor-pointer" (click)="openModal(selectedFileUrl)">
                  <button
                  class="absolute top-30 right-6 text-red-500 hover:text-red-700 bg-white border border-gray-300 rounded-full p-1 shadow-md active:bg-gray-200 active:border-gray-400"
                  matTooltip="Delete"
                  (click)="deleteImage(criterion)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <label *ngIf="!criterion.filename && !selectedFiles[criterion.criteriaID]?.length" [for]="'fileInput-' + criterion.criteriaID" class="cursor-pointer">
                  <button mat-raised-button color="primary" class="mr-2 cursor-pointer" (click)="openFileInput(criterion)">Select Image</button>
                </label>
              </div>
            </div>
          </mat-card>
          <div class="flex justify-end" *ngIf="criterion.editMode">
            <button mat-raised-button color="primary" (click)="cancelEdit(criterion)" class="mb-4 mr-4">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveCriterion(criterion)">Save</button>
          </div>
        </ng-container>
        <!-- Add New Criterion -->
        <mat-card class="p-4 mb-4 flex justify-center items-center cursor-pointer" (click)="createNewCriterion()">
          <mat-icon>add_box</mat-icon>
        </mat-card>
      </div>
      <!-- Save All Button -->
      <div class="flex justify-end mt-4">
        <button mat-raised-button color="primary" (click)="saveAllCriteria()">Save All</button>
      </div>
    </div>
  </div>
  <!-- Modal for Enlarged Image -->
  <ng-container *ngIf="modalImageUrl">
    <app-image-modal
      [imageUrl]="modalImageUrl"
      (close)="closeModal()"
    ></app-image-modal>
  </ng-container>
</div>