<div class="min-h-screen bg-[#f2f2f2]">
  <app-auditor-navbar></app-auditor-navbar>
  <div class="flex p-4">
    <!-- Sidebar -->
    <div class="w-1/8 bg-gray-200 h-full overflow-y-auto flex">
      <mat-nav-list class="mr-4">
        <mat-list-item *ngFor="let criterion of criteria">
          <a matLine [routerLink]="['/edit-audit-submission-guidelines']" [fragment]="'criterion-' + criterion.criteriaID.toString()">{{ criterion.name }}</a>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <!-- Main Content -->
    <div class="w-full items-center">
      <div class="border border-black p-4">
        <!-- Criteria Cards -->
        <ng-container *ngFor="let criterion of criteria">
          <div id="criterion-{{ criterion.criteriaID }}" class="anchor"></div>
          <mat-card class="p-4 mb-4">
            <div>
              <!-- Preview Mode -->
              <h3 class="text-lg font-semibold">{{ criterion.name }}</h3>
              <markdown [data]="criterion.guidelines"></markdown>
              <img *ngIf="criterion.filename" [src]="criterion.filename" alt="Criterion Image" class="w-full h-auto object-contain" />
              <div class="flex justify-end" *ngIf="!criterion.editMode">
                <button mat-icon-button (click)="deleteCriterion(criterion)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editCriterion(criterion)">
                  <mat-icon>edit</mat-icon>
                </button>
              </div>
            </div>
            <div *ngIf="criterion.editMode">
              <!-- Edit Mode -->
              <div class="flex items-center mb-4">
                <input type="text" class="w-full border rounded p-2 mr-2" [(ngModel)]="criterion.name" placeholder="Criteria Title" />
                <mat-icon class="cursor-pointer" matTooltip="This image will be used as a reference of the evidence for the dealership submitting an audit and the AI reviewing that audit.">help_outline</mat-icon>
              </div>
              <div class="flex items-center mb-4">
                <textarea class="flex-grow border rounded p-2 mr-2" [(ngModel)]="criterion.guidelines" placeholder="Enter guidelines for criteria submission here. This will be displayed for the dealership submitting an audit."></textarea>
                <input type="file" (change)="onFileSelected($event, criterion)" accept="image/*" [id]="'fileInput-' + criterion.criteriaID" style="display: none;" multiple>
                <label [for]="'fileInput-' + criterion.criteriaID" class="cursor-pointer">
                  <button mat-raised-button color="primary" class="mr-2" (click)="openFileInput(criterion)">Select Image</button>
                </label>                
                <img *ngIf="criterion.filename" [src]="criterion.filename" alt="Selected Image" class="w-32 h-auto object-contain mr-2">
              </div>
            </div>
          </mat-card>
          <div class="flex justify-end" *ngIf="criterion.editMode">
            <button mat-raised-button color="primary" (click)="cancelEdit(criterion)" class="mb-4 mr-4">Cancel</button>
            <button mat-raised-button color="primary" (click)="saveCriterion(criterion)">Save</button>
          </div>
        </ng-container>
        <!-- Add New Criterion -->
        <mat-card class="p-4 mb-4 flex justify-center items-center cursor-pointer" (click)="createNewCriterion()">
          <mat-icon>add_box</mat-icon>
        </mat-card>
      </div>
      <!-- Save All Button -->
      <div class="flex justify-end mt-4">
        <button mat-raised-button color="primary" (click)="saveAllCriteria()">Save All</button>
      </div>
    </div>
  </div>
</div>
