<div class="min-h-screen bg-[#f2f2f2]">
  <app-auditor-navbar></app-auditor-navbar>
  <div class="flex items-center p-4">
    <div class="w-full">
      <!-- Criteria Cards -->
      <ng-container *ngFor="let criterion of criteria">
        <mat-card class="p-4 mb-4">
          <div *ngIf="!criterion.editMode">
            <!-- Preview Mode -->
            <h3 class="text-lg font-semibold">{{ criterion.name }}</h3>
            <markdown [data]="criterion.guidelines"></markdown>
            <img *ngIf="criterion.filename" [src]="criterion.filename" alt="Criterion Image" class="w-full h-auto object-contain" />
            <div class="flex justify-end">
              <button mat-icon-button (click)="editCriterion(criterion)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
          </div>
          <div *ngIf="criterion.editMode">
            <!-- Edit Mode -->
            <input type="text" class="w-full border rounded p-2 mb-4" [(ngModel)]="criterion.name" placeholder="Criteria Title" />
            <textarea class="w-full border rounded p-2 mb-4" [(ngModel)]="criterion.guidelines" placeholder="Enter guidelines for criteria submission here. This will be displayed for the dealership submitting an audit."></textarea>
            <button mat-raised-button color="primary" class="mr-2" (click)="selectImage(criterion)">Select Image</button>
            <button mat-icon-button color="warn" (click)="cancelEdit(criterion)">
              <mat-icon>cancel</mat-icon>
            </button>
            <button mat-raised-button color="primary" (click)="saveCriterion(criterion)">Save</button>
          </div>
        </mat-card>
      </ng-container>

      <!-- Add New Criterion -->
      <mat-card class="p-4 mb-4">
        <div class="border border-black p-4" (click)="addNewCriterion()">
          <mat-icon class="text-6xl">add_box</mat-icon>
        </div>
      </mat-card>

      <!-- Save All Button -->
      <div class="flex justify-end">
        <button mat-raised-button color="primary" (click)="saveAllCriteria()">Save All</button>
      </div>
    </div>
  </div>
</div>
