<div class="fixed top-0 z-10 w-full">
  <mat-toolbar>
    <a routerLink="/home">
      <button
        mat-icon-button
        class="homeIcon"
        aria-label="icon-button with home icon"
      >
        <mat-icon>home</mat-icon>
      </button>
    </a>
    <span>Dealership Compliance Auditor</span>
    <span class="flex-auto"></span>
    <div class="me-2">
      <a routerLink="/login"
        ><button mat-flat-button class="loginButton" aria-label="login button">
          Login
        </button></a
      >
    </div>
    <div class="">
      <a routerLink="/register"
        ><button
          mat-flat-button
          class="registerButton"
          aria-label="register button"
        >
          Register
        </button></a
      >
    </div>
  </mat-toolbar>
</div>
