<form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
  <div class="h-lvh w-lvw flex justify-center items-center">
    <mat-card>
      <mat-card-content>Simple card</mat-card-content>
      <div class="email-container">
        <mat-form-field class="w-full">
          <mat-label for="email">Enter your email</mat-label>
          <input
            type="text"
            matInput
            formControlName="email"
            class="w-full"
            name="email"
            placeholder="example@email.com"
          />
        </mat-form-field>
      </div>
      <div class="password-container">
        <mat-form-field class="w-full">
          <mat-label for="email">Enter your password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            class="w-full"
            name="password"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button
        mat-raised-button
        label="sign in"
        styleClass="w-full"
        color="primary"
        type="submit"
      >
        Sign in
      </button>
      <div class="mt-2">
        <p>
          Not a member?
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </p>
      </div>
    </mat-card>
  </div>
</form>
